.ad-form__error-text {
  color: red;
}

.ad-form__error-text {
  position: absolute;
  bottom: 0;
  color: red;
}

.has-danger {
  position: relative;
}

.ad-form__element--error-up .ad-form__error-text {
  top: 100px;
}

.error-block {
  width: 50%;
  height: 50%;
  border: 5px solid blueviolet;
}
