.ad-form__error-text {
  color: red;
}

.ad-form__error-text {
  position: absolute;
  bottom: 0;
  color: red;
}

.has-danger {
  position: relative;
}

.ad-form__element--error-up .ad-form__error-text {
  top: 100px;
}

.error-block {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50px;
  background-color: white;
  border: 4px solid #ffaa99;
  border-radius: 8px;
  font-size: 22px;
  font-weight: 700;
  z-index: 2;
}

.map {
  z-index: 1;
}

.hidden {
  display: none;
}
